# List of codeowners based on project team

/Alumnos/MDIAA/*/DOCKER/** @SofiaPinilla
/Alumnos/MDIAB/*/DOCKER/** @SofiaPinilla
/Alumnos/MIA/*/DOCKER/** @SofiaPinilla

/Alumnos/MDIAA/*/DEMO/** @a10pepo
/Alumnos/MDIAB/*/DEMO/** @a10pepo
/Alumnos/MIA/*/DEMO/** @a10pepo

/Alumnos/MDIAA/*/LINUX/** @SofiaPinilla
/Alumnos/MDIAB/*/LINUX/** @SofiaPinilla
/Alumnos/MIA/*/LINUX/** @SofiaPinilla

/Alumnos/MDIAA/*/PYTHON/** @SofiaPinilla
/Alumnos/MDIAB/*/PYTHON/** @SofiaPinilla
/Alumnos/MIA/*/PYTHON/** @SofiaPinilla

/Alumnos/MDIAA/*/SQL/** @SofiaPinilla
/Alumnos/MDIAB/*/SQL/** @SofiaPinilla
/Alumnos/MIA/*/SQL/** @SofiaPinilla

/Alumnos/MDIAA/*/AHORCADO/** @a10pepo
/Alumnos/MDIAB/*/AHORCADO/** @a10pepo
/Alumnos/MIA/*/AHORCADO/** @a10pepo

/Alumnos/MDIAA/*/APIS/** @marcolapietro
/Alumnos/MDIAB/*/APIS/** @marcolapietro
/Alumnos/MIA/*/APIS/** @marcolapietro

/Alumnos/MDIAA/*/PYSPARK/** @nachoreyesv
/Alumnos/MDIAB/*/PYSPARK/** @nachoreyesv

/Alumnos/MDIAA/*/TERRAFORM/** @a10pepo
/Alumnos/MDIAB/*/TERRAFORM/** @a10pepo

/Alumnos/MDIAA/*/GCP_ALMACENAMIENTO/** @mimove @JaviBriones
/Alumnos/MDIAB/*/GCP_ALMACENAMIENTO/** @mimove @JaviBriones

/Alumnos/MDIAA/*/VALENCIA/** @a10pepo
/Alumnos/MDIAB/*/VALENCIA/** @a10pepo
