**/.DS_Store
**/.venv/
**/venv/
**/postgresDB/
.DS_Store
Alumnos/.DS_Store
__pycache__
node_modules
.terraform
*.tfstate
PROFESORES/MDIA/AWS_ESPECIFICOS/personal
PROFESORES/MDIA/AWS_ESPECIFICOS/personal_account.sh
ALUMNOS/MDIAA/CELIA_SARRIO/AHORCADO/docker-compose.yml
**/.duckcb
**/.csv
